<nav>
  <div class="nav-left">
    <h2><a href="/">Voluntouring</a></h2>
    <span id="hamburger"><b>MENU</b></span>
  </div>
  <div class="nav-right">
    <ul id="lista">
      <li><a href="/">Search</a></li>
      <li><a href="/auth/guide-signup">Become a guide</a></li>
      <li><a href="/auth/tourist-signup">Sign in as a tourist</a></li>
    </ul>
  </div>
</nav>

<h2>Login</h2>

<div id="bg-login">
  <main class="content-container">
    <form action="/auth/login" method="POST" class="login-form">
      <label for="username" class="search-form-fields center">USERNAME:</label>
      <input id="username" type="text" name="username" class="search-form-text-input login-input" required>
      <label for="password" class="search-form-fields center">PASSWORD:</label>
      <input type="password" name="password" class="search-form-text-input login-input" required>

      {{#if message}}
      <p class="error-message">{{ message }}</p>
      {{/if}}

      <button type="submit" class="search-btn">Login</button>
    </form>
  </main>
</div>